@use '@/styles/Breakpoints';
@use '@/styles/variables';

.main {
  position: relative;

  .contents {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* ==== Game Title Nav ==== */
.swiper_wrap {
  padding-bottom: 2.5vw;
  //display: flex;
  //justify-content: center;
}

/* ==== Game Title ==== */
.games {
  padding: 5rem 0;
  background: transparent;

  .games_wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .game_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  .game_item {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);

    &:hover {
      box-shadow: 8px 7px 10px 2px #e5e5e5;
      transform: scale(1.1) translateZ(0);
      transition: transform .3s ease-in-out;
    }

    p {
      font-size: 18px;
      font-weight: 600;
    }

    span {
      color: #0162ff;
    }
  }

  .game_image {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

/* ==== Responsive Design ==== */
@media screen and (max-width: 1101px) {
  .games .game_card {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .games .game_card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px){
  .games .game_card {
    grid-template-columns: 1fr;
  }
}